body{
  background-color:purple;
}

p{
  color:blue;
  text-align : center;
}
h1{
  color:yellow;
}

h2{
  color:orange;
}
 <style>
        body {
            background-color: #FFFF00;
            font-family: Helvetica, Arial, sans-serif;
        }

        .container {
            display: flex;
            align-items: center;
        }

        img {
            width: 6cm; 
            margin-right: 1cm; 
        }

        h1 {
            font-size: 200px;
            margin-bottom: 0.5cm; 
            color: black;
        }

        h2 {
            margin-top: 0;
            font-size: 18px;
            font-weight: normal;
            color: black;
        }

        a {
            color: black;
        }
